.bg-primary{
    background-color: #985ec5 !important;
}
.navbar{
    padding:0px;
}
.nav-link {
    color:white !important;
    font-size:18px;
    padding-top:14px;
    padding-bottom:14px;
}
.nav-item{
    background-color: #985ec5;
    transition:0.3s;
}
.nav-item:hover{
    background-color: #8a46cf;
    transition:0.3s;
}
/* Ensure dropdown opens on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.navbar-toggler{
    background-color: #985ec5;
    border:0px;
    border-radius:0rem;
    transition:0.3s;
    padding-top:12px;
    padding-bottom:12px;
}
.navbar-toggler:hover{
    background-color: #8a46cf;
    transition:0.3s;
}
/* Hide the dropdown menu by default */
.dropdown-menu {
    display: none;
    position: absolute; /* Ensure dropdown is positioned correctly */
    background-color: #985ec5; /* Adjust based on your theme */
    border: 0px; /* Adjust based on your theme */
    padding:0px;
    border-radius: 0rem; /* Adjust based on your theme */
    padding-bottom:0px;
}

.dropdown-item:hover {
    background-color: #f8f9fa; /* Adjust based on your theme */
}
/* Default styling for dropdown items */
.dropdown-item {
    display: block; /* Make sure the items are block-level to fill the width of the dropdown */
    width: 100%; /* Ensure the item fills the width of the dropdown */
    padding: 5px; /* Padding around the text */
    margin: 0; /* Remove any default margin */
    clear: both; /* Clear floats */
    font-weight: 400; /* Default font weight */
    color: white; /* Default text color */
    text-align: inherit; /* Align text based on its parent container */
    background-color: transparent; /* Default background color */
    border: 0; /* Remove border */
    border-radius: 0rem; /* Default border radius */
}

/* Styling for dropdown items on hover */
.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff; /* Change text color on hover */
    text-decoration: none; /* Remove underline */
    background-color: #007bff; /* Change background color on hover */
}
